/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * thedwarfking implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * thedwarfking.css
 *
 * thedwarfking stylesheet
 *
 */


#my_board {
  
  width: 750px;
  height: 750px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  background-color: red;
   
}

.carre{
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  top: 10%;
  left: 10%;
}












