/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * thedwarfking implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * thedwarfking.css
 *
 * thedwarfking stylesheet
 *
 */

 * {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url('img/background1.png');
  background-repeat: repeat;
  background-size: 500px 352px;
    
}

@font-face {
  font-family: 'BuenaPark';
  font-style: normal;
  font-weight: normal;
  src: local('BuenaPark'),
      url('img/BuenaPark.woff2') format('woff2'),
      url('img/BuenaPark.woff') format('woff'),
      url('img/BuenaPark.ttf') format('truetype');
}



#board_id {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
  z-index: 1;
  position: relative;
   
}

#nb_round {
  font-family: 'BuenaPark', 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  font-size: 25px;
  
  text-align: center;
  margin-top: 10px;
  color: white;
  cursor: default;

}

.titre {
  font-family: 'BuenaPark', 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  font-size: 20px;
  
  margin-bottom: 30px;
  cursor: default;
  color: white;
}

.cards-container {
  margin: 10px auto;
  width: calc(100% - 100px);
  border-radius: 20px;
  z-index: 50;
  
}

#table_cards {
  margin-top: 20px;
}

.stockitem .player-title {
	position: absolute;
	top: -1.3em;
  font-size: 16pt;
	/* font-weight: bold; */
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stockitem {
/* useful pour resizing sprites */
    background-image: url('img/cards.jpg');
    background-size: 1600% 400%;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.44);
    border-radius: 5%;
}

#hand_container .stockitem:hover{
  transform: scale(1.1) !important;
  z-index: 100 !important;
}







.selectable {
  cursor: pointer !important;
  pointer-events: auto !important;
  outline: 3px solid yellow; 
  box-shadow: 0 0 3px black;
}

.selected {
  outline: 3px solid yellow; 
  box-shadow: 0 0 3px black;
}















